<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
<link href='https://fonts.googleapis.com/css?family=Bangers' rel='stylesheet'>
<style>

body {
    font-family: 'Bangers'; font-size: 40px; background: #9966ff;
}

header {
  color:yellow; text-align:center; font-size: 60px
}


</style>
</head>
<body style="text-align:center">
  <header>Edit Your Savings</header>
  <div style="font-size: 30px; line-height: 30px; color:yellow">
    <%= form_tag "/savings/:id/edit", method: :patch do %>
      <%= label_tag :amount %>
      <%= text_field_tag :amount, "#{@savings.amount}" %>
      <br>
      <br>
      <%= submit_tag 'Submit New Savings' %>
    <% end %>
  </div>
</body >
