<nav class="navbar navbar-expand-lg navbar-light" style="background-color: blueviolet">
  <div class="container-fluid">
    <a class="navbar-brand" href="/" style="color: red; font-size:90%">Whobudget Home!</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/expense/index" style="color: #FE9901;font-size:70%">Expense Report</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/expense/search" style="color: yellow;font-size:70%">Monthly Expense Breakdown</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" style="color: lime; font-size:70%">Goals</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
